<!DOCTYPE html>
<html>
<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="css/materialize.min.css">
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="js/index.js"></script>

	<title>Nocturnal</title>
</head>
<body ng-app="search">
<nav class="nav-extended white"	ng-controller="navbar">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center blue-text">Nocturnal</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul ng-show="checkLogin()" id="nav-mobile" class="right hide-on-med-and-down black-text">
					<li><a class="black-text" href="#login">Login</a></li>
					<li><a class="black-text" href="#signup">Signup</a></li>
				</ul>
				<ul ng-hide="checkLogin()" id="nav-mobile" class="right hide-on-med-and-down black-text">
					<li><a class="black-text" href="">Welcome</a></li>
					<li><a class="black-text" href="">{{userName}}</a></li>
					<li ng-click="logout()"><a class="black-text" href="">Logout</a></li> 
				</ul>
				<ul ng-show="checkLogin()" class="side-nav black-text" id="mobile-demo">
					<li><a class="black-text" href="#login">Login</a></li>
					<li><a class="black-text" href="#signup">Signup</a></li>
				</ul>
				<ul ng-hide="checkLogin()" class="side-nav black-text" id="mobile-demo">
					<li><a class="black-text" href="">Welcome</a></li>
					<li><a class="black-text" href="">{{userName}}</a></li>
					<li ng-click="logout"><a class="black-text" href="">Logout</a></li> 
				</ul>
			</div>
		</nav>
		<div class="row center-align"  ng-controller="searchHotels">
		    	<div class="hidden col s2"></div>
		    	<div class="col s8 center-align" style="padding-top: 20em;">
			        <div class="input-field col s8">
			          <i class="material-icons prefix">search</i>
			          <input id="icon_prefix" type="text" class="validate" ng-model="query">
			          <label for="icon_prefix">Search here</label>
			          </div>
			         <div class="col s4" style="padding-top: 2em;">
					<button class="btn waves-effect waves-light blue" type="submit" ng-click="search()" name="search">Search
					<i class="material-icons right">input</i>
					</button>
					</div>
				</div>
							

        </div>
        
		<!-- Login modal -->
	<div id="login" class="modal">
	    <div class="modal-content">
	      <h4>Login</h4>

	      <div class="row" ng-controller="login">
							<div class="input-field col s12">
								<i class="material-icons prefix">email</i>
								<input id="icon_prefix" type="email" class="validate" name="emailLogin" required ng-model="emailLogin">
								<label for="icon_prefix">Email</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix">vpn_key</i>
								<input id="icon_prefix" type="password" class="validate" name="password1" ng-model="passwordLogin" required>
								<label for="icon_prefix">Password</label>
							</div>
							<div class="col s6">
								<button class="btn waves-effect waves-light" ng-click="isLogin()" type="submit" name="login">Login
								<i class="material-icons right">input</i>
								</button>
							</div>
							<div class="col s6 align-right">
								<button class="btn waves-effect waves-light modal-close" >Cancel
								<i class="material-icons right">not_interested</i>
								</button>
							</div>
	      </div>
	      <!-- <p>A bunch of text</p> -->
	    </div>
	    
  </div>
  <div id="signup" class="modal">
	    <div class="modal-content">
	      <h4>Signup</h4>
	      <div class="row">
	      <form action="api/signup.php" method="post" name="signupForm" ng-controller="signupValidation" onsubmit="return validateForm();">
							<div class="input-field col s12 m6">
								<i class="material-icons prefix">account_circle</i>
								<input id="icon_prefix" type="text" class="validate" name="firstName" required>
								<label for="icon_prefix">First Name</label>
							</div>
							<div class="input-field col s12 m6">
								<i class="material-icons prefix">account_circle</i>
								<input id="icon_prefix" type="text" class="validate" name="lastName" required>
								<label for="icon_prefix">Last Name</label>
							</div>
							<div class="input-field col s6 m6" >
								<i class="material-icons prefix" id="userNameParent">email</i>
								<input id="email" type="email" name="email" ng-model="email" ng-keyup="checkUsername();" class="validate" required="">
								<label for="icon_prefix">Email</label>
							</div>
							<div class="col s6 m6" ng-hide="signupForm.email.$error.email">
								<p id="signupResponse">{{signupResponse}}</p>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix" id="passwordParent">vpn_key</i>
								<input type="password" class="validate" id="password" name="password" required="">
								<label for="icon_prefix">New Password</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix" id="confirmPasswordParent">replay</i>
								<input id="confirmPassword" type="password" class="validate" onkeyup="checkPassword(this.value);">
								<label for="icon_prefix">Re-type Password</label>
								<div class="col s6">
								<button class="btn waves-effect waves-light" type="submit"  name="signUp" >Sign Up
								<i class="material-icons right">call_made</i>
								</button>
							</div>
							<div class="col s6 align-right">
								<button class="btn waves-effect waves-light modal-close" >Cancel
								<i class="material-icons right">not_interested</i>
								</button>
							</div>
						</form>
						</div>

	      </div>
	</div>
</body>
</html>