<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="css/materialize.min.css">
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="js/index.js"></script>

	<title>Nocturnal</title>
</head>
<body >
<nav class="nav-extended white	">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center blue-text">Nocturnal</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down black-text">
					<li><a class="black-text" href="#login">Login</a></li>
					<li><a class="black-text" href="#signup">Signup</a></li>
				</ul>
				<ul class="side-nav black-text" id="mobile-demo">
					<li><a class="black-text" href="#login">Login</a></li>
					<li><a class="black-text" href="#signup">Signup</a></li>
				</ul>
			</div>
		</nav>
		<div class="row" ng-app="search" ng-controller="searchHotels">		
		<div class="row center-align" >
		    	<div class="hidden col s2"></div>
		    	<div class="col s8 center-align">
			        <div class="input-field col s8">
			          <i class="material-icons prefix">search</i>
			          <input id="icon_prefix" type="text" class="validate" ng-model="query">
			          <label for="icon_prefix">Search here</label>
			          </div>
			         <div class="col s4" style="padding-top: 2em;">
					<button class="btn waves-effect waves-light blue" type="submit" ng-click="search()" name="search">Search
					<i class="material-icons right">input</i>
					</button>
					</div>
				</div>
				</div>
				<div class="row" >
				<!-- <h5>{{x.photos[0].photo_reference}}</h5>				 -->
					<div class="col s12 m3" ng-repeat="x in searchResults"> 
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" height="300" src="{{imageUrl+x.photos[0].photo_reference+imageKey}}">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4">{{x.name}}<i class="material-icons right">more_vert</i></span>
						      <p><a href="#">Book Now</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">{{x.name}}<i class="material-icons right">close</i></span>
						      <p>{{x.formatted_address}}</p>
						    </div>
						    </div>
						</div>
				</div>
	     </div>
        
		<!-- Login modal -->
	<div id="login" class="modal">
	    <div class="modal-content">
	      <h4>Login</h4>

	      <div class="row">
	      					<form action="" method="post">
							<div class="input-field col s12">
								<i class="material-icons prefix">account_circle</i>
								<input id="icon_prefix" type="text" class="validate" name="userName1" required>
								<label for="icon_prefix">User Name</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix">vpn_key</i>
								<input id="icon_prefix" type="password" class="validate" name="password1" required>
								<label for="icon_prefix">Password</label>
							</div>
							<div class="col s6">
								<button class="btn waves-effect waves-light" type="submit" name="login">Login
								<i class="material-icons right">input</i>
								</button>
							</div>
							<div class="col s6 align-right">
								<button class="btn waves-effect waves-light modal-close" >Cancel
								<i class="material-icons right">not_interested</i>
								</button>
							</div>
						</form>
	      </div>
	      <!-- <p>A bunch of text</p> -->
	    </div>
	    
  </div>
  <div id="signup" class="modal">
	    <div class="modal-content">
	      <h4>Signup</h4>
	      <div class="row">
	      <form action="" method="post" onsubmit="return validateForm();">
							<div class="input-field col s12 m6">
								<i class="material-icons prefix">account_circle</i>
								<input id="icon_prefix" type="text" class="validate" name="firstName" required>
								<label for="icon_prefix">First Name</label>
							</div>
							<div class="input-field col s12 m6">
								<i class="material-icons prefix">account_circle</i>
								<input id="icon_prefix" type="text" class="validate" name="lastName" required>
								<label for="icon_prefix">Last Name</label>
							</div>
							<div class="input-field col s12 m6" >
								<i class="material-icons prefix" id="userNameParent">supervisor_account</i>
								<input id="userName" type="text" name="userName" class="validate" required="">
								<label for="icon_prefix">New User Name</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix" id="passwordParent">vpn_key</i>
								<input type="password" class="validate" id="password" name="password" required="">
								<label for="icon_prefix">New Password</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix" id="confirmPasswordParent">replay</i>
								<input id="confirmPassword" type="password" class="validate" onkeyup="checkPassword(this.value);">
								<label for="icon_prefix">Re-type Password</label>
								<div class="col s6">
								<button class="btn waves-effect waves-light" type="submit" name="signUp" >Sign Up
								<i class="material-icons right">call_made</i>
								</button>
							</div>
							<div class="col s6 align-right">
								<button class="btn waves-effect waves-light modal-close" >Cancel
								<i class="material-icons right">not_interested</i>
								</button>
							</div>
						</form>
						</div>

	      </div>
	</div>
</body>
</html>